@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    This view is to see the entire database of uncompleted tasks in quadrant view.
    pj test
*@

<h1>Quadrant View</h1>

<div class="container">

    <div class="row">

        <div class="col-6">
            <h1>Q1</h1>
        </div>
        <div class="col-6">
            <h1>Q2</h1>
        </div>
    
    </div>

    <div class="row">

        <div class="col-6">
            <h1>Q3</h1>
        </div>
        <div class="col-6">
            <h1>Q4</h1>
        </div>

    </div>

</div>