@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    This view is to see the entire database of uncompleted tasks in quadrant view.
    pj test
*@

<h1>Quadrant View</h1>
