@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    This view is for the user to submit a form including all necessary information
    ryan test
*@

<form>
    <label>Enter the name of your task:</label>
    <input type="text"/>
    <br />
    <br />
    <label>Due Date</label>
    <input type="date" />
    <br />
    <br />
    <label>Due Date</label>
    <input type="date" />
</form>


