@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Tasks

<h1>The 7 Habits of Highly Effective People</h1>
<br />
<br />

<form method="post">

    <input type="hidden" asp-for="TaskID"/>

    <label asp-for="TaskName">Enter the name of your task:</label>
    <input asp-for="TaskName" type="text" />
    <br />
    <br />
    <label asp-for="DueDate">What is the Due Date?</label>
    <input type="date" asp-for="DueDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
    <br />
    <br />
    <label asp-for="CategoryID">What is the category?</label>
    <select asp-for="CategoryID">
        <option value="1">Home</option>
        <option value="2">School</option>
        <option value="3">Work</option>
        <option value="4">Church</option>
    </select>
    <br />
    <br />
    <label asp-for="QuadrantID">Enter the Task Quadrant Level</label>
    <select asp-for="QuadrantID">
        <option value="1">Urgent & Important</option>
        <option value="2">Not Urgent & Important</option>
        <option value="3">Urgent & Not Important</option>
        <option value="4">Not Urgent & Not Important</option>
    </select>
    <br />
    <br />
    <label asp-for="Completed">Is the task completed?</label>
    <select asp-for="Completed">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <button type="submit">Add Task</button>

    <div asp-validation-summary="All"></div>
</form>
