
@model Mission08_4_2.Models.Tasks


@{
    ViewData["Title"] = "Add Task";
}

<form method="post">

    <input type="hidden" asp-for="TaskID" />

    <label>Enter the name of your task:</label>
    <input type="text"/>
    <br />
    <br />
    <label>Due Date</label>
    <input/>
    <br />
    <br />
    <select>
        <option value="">Select a Category</option>
        <option></option>
    </select>
    <br />
    <br />
    <select>
        <option value="">Select a Quadrant Level</option>
        <option></option>
    </select>

</form>


